#rekenmachine {
	width: 50%;
	position: fixed;
	left: 40%;
	top: 20%;
}

.getal, .optie {
	width: 30%; 
	 
}

#getal1, #getal2, #res {
	width: 100%;
	height: 20px;
	border-style: solid;
	border-color: black; 
}